<% @portfolio = locals[:portfolio] %>
<h1>Portfolio Item #<%= locals[:portfolio].id %></h1>
<em><%= @portfolio.created_at %></em>
<br/>
<% if action_name != "show" %>
  <h2><%= link_to @portfolio.title, show_portfolio_path(@portfolio.id) %></h2>
<% else %>
  <h2><%= @portfolio.title %></h2>
<% end %>
<p><%= @portfolio.subtitle %></p>
<div><%= @portfolio.body %></div>
<%= image_tag(portfolio_img(@portfolio.thumb_image, 'main')) %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %>
<%= link_to 'Remove', portfolio_path(@portfolio), method: :delete, data: { disable_with: 'Busy ...'} %>
<%= link_to 'Back', portfolios_path %>
